*,html,body,div,p,a {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

body {
    background-color: #000;
    color: #eb1c24;
    line-height: 20px;
}
a:link,  a:visited,
a:hover, a:active {
    color: #eb1c24;
}

body div.container div {
    margin: 3em auto;
    text-align: center;
}
body div.container div img {
    margin: 0 auto 3em;
    display: block;
}

#mailto {
    margin-top: 2em;
}
#mailto a {
    font-size: 24px;
}
    #mailto a:link {
        text-decoration: none;
    }
    #mailto a:hover {
        text-decoration: underline;
    }
